src/main/mule/tirapa-eidiko.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55d978cd-1640-4d3d-a2b9-9977f66cd34a" basePath="base">
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<db:config name="SQLite_DataBase" doc:name="Database Config" doc:id="8d242598-4450-408c-8ff6-78c17035e9e1" >
		<db:generic-connection url="jdbc:sqlite:C:\Users\Administrator\AppData\Roaming\DBeaverData\workspace6\.metadata\sample-database-sqlite-1\Chinook.db" driverClassName="org.sqlite.JDBC" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d53a6a22-390f-45ac-b53d-77728031f5c7" basePath="/base/meraki" >
		<http:request-connection host="09cec7fdc187.ngrok.io" port="443" protocol="HTTPS"/>
	</http:request-config>
	<http:request-config name="HTTP_Reques_WebEx" doc:name="HTTP Request configuration" doc:id="f94d0f7f-dde5-4d6a-9e69-174631671dfd" basePath="/v1" >
		<http:request-connection protocol="HTTPS" host="webexapis.com" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="59c026e3-965f-43c5-96be-feae48e196d0" basePath="/verify" >
		<http:request-connection protocol="HTTPS" host="api.nexmo.com" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_QWASI" doc:name="HTTP Request configuration" doc:id="f4116855-136f-4c28-b582-f4c0d350d34a" basePath="/api/v1" >
		<http:request-connection protocol="HTTPS" host="stage.apiconsole.qwasi.com" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_VONAGE" doc:name="HTTP Request configuration" doc:id="ebef12f1-767f-4992-8a41-b56f0f07a9d3" >
		<http:request-connection host="rest.nexmo.com" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_WhatsApp" doc:name="HTTP Request configuration" doc:id="7ff9bb88-4af0-43f7-b4d7-dfb028ce7659" basePath="/v0.1" >
		<http:request-connection host="messages-sandbox.nexmo.com" port="443" protocol="HTTPS"/>
	</http:request-config>
	<flow name="tirapa-eidikoFlow" doc:id="4ee5b621-9c3a-4360-9210-1023e358cc5b" >
		<http:listener doc:name="Listener" doc:id="8a468c7f-f16f-4ed9-a2c3-9671723e6acd" config-ref="HTTP_Listener_config" path="/meraki/*"/>
		<choice doc:name="Choice" doc:id="662ac5cb-04c3-4006-be27-b83758527348" >
			<when expression="#[attributes.listenerPath=='/meraki']">
				<logger level="INFO" doc:name="Logger " doc:id="f5de76fe-2885-489b-a5de-6d04239c1d1c" message="#[payload.message]" />
			</when>
			<when expression="#[attributes.listenerPath=='/meraki1']">
				<logger level="WARN" doc:name="Logger" doc:id="0a61dbcf-a257-4c15-9785-ea77d20d74b8" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="6fcbcbfe-f974-4917-b625-91c1044d7733" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Input Album Data" doc:id="6fd56dd8-b613-4679-b39b-1b661c62fb3d" message="#[payload]"/>
		<try doc:name="Try" doc:id="7b07a662-8908-4094-86e8-66444cb5d4cc" >
			<db:insert doc:name="Load Album" doc:id="318bc70f-f48d-4cf5-ba98-a8638849427e" config-ref="SQLite_DataBase">
			<db:sql><![CDATA[INSERT INTO Album(AlbumId, Title, ArtistId) VALUES(:AlbumId,:Title,:ArtistId);]]></db:sql>
			<db:parameter-types>
				<db:parameter-type key="AlbumId" type="BIGINT" />
				<db:parameter-type key="Title" type="VARCHAR" />
				<db:parameter-type key="ArtistId" type="BIGINT" />
			</db:parameter-types>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9c6d1305-6a48-400d-bd18-2b2888a3a314" >
					<logger level="INFO" doc:name="Logger" doc:id="6316d19e-15d8-4deb-a154-f1b6f060baa4" message="#[payload]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<db:select doc:name="Retrieve Album" doc:id="fc1bd7f0-4a6f-4443-95b7-2eb269249d50" config-ref="SQLite_DataBase">
			<db:sql ><![CDATA[SELECT AlbumId,ArtistId,Title FROM Album;]]></db:sql>
		</db:select>
		<set-payload value="#[%dw 2.0
output application/json
---
payload]" doc:name="Set Album Data" doc:id="01975390-54da-48ae-a922-b3680b3c3aa1" />
	</flow>
	<flow name="tirapa-eidikoFlow1" doc:id="6142558b-e955-476f-b61a-f086a794bf30" >
		<http:listener doc:name="Listener" doc:id="0f6098bc-e017-43bb-811d-f62f18cf22d1" config-ref="HTTP_Listener_config" path="/meraki3"/>
		<logger level="INFO" doc:name="Logger" doc:id="9ebd3dab-1f9f-4ed0-bdd2-f35bb8af6e0d" message="#['IN FLOW TWO']"/>
		<http:request method="POST" doc:name="Request" doc:id="31b171d4-2d86-46f7-9b8d-c0228461fd2e" config-ref="HTTP_Request_configuration" path="/123"/>
	</flow>
	<flow name="tirapa-eidiko-spark" doc:id="041a79ca-4ebe-4878-8182-33a6c42ec948" >
		<http:listener doc:name="Listener" doc:id="8066b0a7-f5e8-4b08-9163-b5ffeba683b7" config-ref="HTTP_Listener_config" path="/spark"/>
		<logger level="INFO" doc:name="Logger" doc:id="44197582-6b04-44a2-958c-82604dae0365" message="#['IN FLOW TWO']"/>
		<http:request method="POST" doc:name="Request" doc:id="399b1bb9-da79-47c8-8b28-61047ecd66db" config-ref="HTTP_Reques_WebEx" path="/messages">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer OTIzNGYzOGItY2NkZS00YmZlLThkZmUtMjI0NDMwMGFkMmFjMDczYzIyNzItM2E3_PF84_consumer",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"roomId" : "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw"
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="tirapa-eidiko-validate" doc:id="da37257f-04e9-40ca-b3eb-e1d80a4e5deb" >
		<http:listener doc:name="Meraki Validator" doc:id="e68e657d-c493-4072-8aac-40b5c99a8a14" config-ref="HTTP_Listener_config" path="/validate"/>
		<logger level="INFO" doc:name="Echo Input Data" doc:id="83cdfb54-a8ae-41c4-a381-842883311144" message="#['OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO']"/>
		<logger level="INFO" doc:name="Logger GG" doc:id="34e8a077-8513-4d24-8c8c-5871f1475a52" message="#[payload]"/>
		
		<try doc:name="Try" doc:id="ac78a4af-4a3e-4eaa-bf8a-81d11ac04b34" >
			<http:request method="POST" doc:name="Post WebEx Validata Message" doc:id="8113fcd0-9bc8-44c2-818d-c09753693ea9" config-ref="HTTP_Reques_WebEx" path="/messages">
			<http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"roomId": "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw",
	"markdown": "**A Request has been receive from Meraki Scanning API & Sending**  \n <br /> Validation Code :: c732893714d461e61b69a4277fe554460f84cdf6" 
}]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer OTIzNGYzOGItY2NkZS00YmZlLThkZmUtMjI0NDMwMGFkMmFjMDczYzIyNzItM2E3_PF84_consumer",
	"Content-Type" : "application/json"
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"roomId" : "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw"
}]]]></http:query-params>
		
</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a1865ea8-c796-4595-88be-788de45218d8" >
					<logger level="INFO" doc:name="Logger" doc:id="08b6917b-7516-49cb-bc33-3019596b8ac2" message="#[message]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<set-payload value="#['c8b77133f4bd2218df387186212a6e946d5b4207']" doc:name="Set Validator Response" doc:id="8e7bebb1-4e22-4e53-b89b-c6aae92192c8" />
	
</flow>
<flow name="tirapa-eidiko-sendOTP" doc:id="1255a06a-4405-4dd5-9078-23e50e48a390" >
		<http:listener doc:name="Meraki Validator" doc:id="4fe8e38d-d81e-4e85-b03c-2513e9a2a21e" config-ref="HTTP_Listener_config" path="/sendOTP">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Echo Input Data" doc:id="0e46bf96-2772-4997-a18f-637f4456829f" message="#['IN SEND OTP'++ message.attributes.queryString]"/>
		<set-variable value="#[%dw 2.0
output application/java
---
{
	'name':message.attributes.queryParams.name,
	'firstName':message.attributes.queryParams.firstName,
	'lastName':message.attributes.queryParams.lastName,
	'clinetIP':message.attributes.queryParams.clinetIP,
	'clientMAC':message.attributes.queryParams.clientMAC,
	'nodeMAC':message.attributes.queryParams.nodeMAC,
	'apMAC':message.attributes.queryParams.apMAC,
	'apIP':message.attributes.queryParams.apIP,
	'baseGrantURL':message.attributes.queryParams.baseGrantURL,
	'userContURL':message.attributes.queryParams.userContURL,
	'email':message.attributes.queryParams.email,
	'number':message.attributes.queryParams.number,
	'company':message.attributes.queryParams.company,
	'browser':message.attributes.queryParams.browser,
	'platform':message.attributes.queryParams.platform,
	'userAgent':message.attributes.queryParams.userAgent
}]" doc:name="Set Paayload" doc:id="3d6fca9a-61f3-4587-890b-6ce16a5482a2" variableName="sqlPayload"/>
		<try doc:name="Try" doc:id="a13a6586-e0f4-4d4b-b442-69e22b05c61c">
			<http:request method="POST" doc:name="Post WebEx Validata Message" doc:id="2b69b5f0-3088-4f1f-9535-9b479c00f1b3" config-ref="HTTP_Reques_WebEx" path="/messages">
			<http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"roomId": "Y2lzY29zcGFyazovL3VzL1JPT00vMTkwNWU4NTAtYmRkNi0xMWVhLWFjOWItYmZhMDQ1ZGNjYzRj",
	"markdown": "Welcome **" ++ message.attributes.queryParams.name ++"**, \n <br /> Your Mobile Number **" ++ message.attributes.queryParams.number ++"** and  email **" ++ message.attributes.queryParams.email ++ "** has been registered with QWASI. \n <br /> Please [click here ](https://46d42d23cbc6.ngrok.io/examples/success.html) to upload your documents \n <br /> Thank you..!! \n <br /> **QWASI Team**" 
}]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer ZWZhYTEzZTItNzgzZS00ZmQ4LWExYWEtMjgwN2M5NjgwN2Q5NDNjZTFkZTItMzQ5_PF84_consumer",
	"Content-Type" : "application/json"
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"roomId" : "Y2lzY29zcGFyazovL3VzL1JPT00vMTkwNWU4NTAtYmRkNi0xMWVhLWFjOWItYmZhMDQ1ZGNjYzRj"
}]]]></http:query-params>
		
</http:request>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="92b8c4e7-70df-484a-ae73-e58840fddce9">
					<logger level="INFO" doc:name="Logger" doc:id="b3889bbf-53c3-49bd-8e25-13183790a6aa" message="#[message]" />
				</on-error-continue>
			</error-handler>
		</try>
		
		<logger level="INFO" doc:name="Logger" doc:id="fb81ede7-3984-41e6-91f3-dce21c74b553" message="#[payload]"/>
		<try doc:name="Try" doc:id="45b32ee1-e901-4364-b6ad-ea9878e05110">
			<http:request method="POST" doc:name="Post Data To QWASI" doc:id="de377a33-a92b-4282-be8c-27f169e3d88c" config-ref="HTTP_Request_QWASI" path="/interaction">
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	 
  "tag":vars.sqlPayload.clientMAC,
    "firstname":vars.sqlPayload.name,
    "lastname": vars.sqlPayload.name,
    "email": vars.sqlPayload.email,
    "phone": vars.sqlPayload.number,
    "ipAddress": vars.sqlPayload.clinetIP,
    "browser": vars.sqlPayload.browser,
    "platform": vars.sqlPayload.platform,
    "userAgent": vars.sqlPayload.userAgent,
    "deviceid": vars.sqlPayload.apIP,
    "mac": vars.sqlPayload.apMAC
}]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "7c248f0aa47c2e348404d186698596b7",
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:request>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7a2b31e8-2cd3-420d-a8e8-e9d6ac0c91f9">
					<logger level="INFO" doc:name="Logger" doc:id="4980e903-8f0b-449a-8385-db0d5dbe713d" message="#[message]" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="405f2407-1886-488c-94f2-f18ea3172070" message="#[payload]"/>
		<try doc:name="Try" doc:id="45b32ee1-e901-4364-b6ad-ea9878e05110">
			<http:request method="POST" doc:name="Send SMS" doc:id="de377a33-a92b-4282-be8c-27f169e3d88c" config-ref="HTTP_Request_VONAGE" path="/sms/json" outputMimeType="application/x-www-form-urlencoded">
				<http:body ><![CDATA[#[%dw 2.0

output application/x-www-form-urlencoded

---

{

    api_key:"DVsK5neDxFp7BcES",
    api_secret:"34c109d8",
    from: "EidikoQwasi",
    text: "vars.sqlPayload.name",
    to: "971504643341"

}]]]></http:body>
				<http:headers ><![CDATA[#[output application/x-www-form-urlencoded
---
{
	"from" : "QwasiEidiko",
	"text" : "Hi Hello",
	"to" : "971504643341",
	"api_key" : "DVsK5neDxFp7BcES",
	"Content-Type" : "application/x-www-form-urlencoded",
	"api_secret" : "34c109d8"
}]]]></http:headers>
			</http:request>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7a2b31e8-2cd3-420d-a8e8-e9d6ac0c91f9">
					<logger level="INFO" doc:name="Logger" doc:id="4980e903-8f0b-449a-8385-db0d5dbe713d" message="#[message]" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="405f2407-1886-488c-94f2-f18ea3172070" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="d2ffd909-09d7-43f5-82cc-2438c9cfe5ae" message='#[{
    "from": { "type": "whatsapp", "number": "14157386170" },
    "to": { "type": "whatsapp", "number":  vars.sqlPayload.number },
    "message": {
      "content": {
        "type": "text",
        "text": "Welcome *" ++ vars.sqlPayload.name ++"*, \n Your Mobile Number *" ++ vars.sqlPayload.number ++"* and  email *" ++ vars.sqlPayload.email ++ "* has been registered with QWASI. \n  Please click https://537d50492642.ngrok.io/examples/success.html to upload your documents \n Thank you..!! \n  *QWASI Team*"
      }
    }
  }]'/>
		<try doc:name="Try" doc:id="ee3cb5cc-7b96-4dd8-a428-c4311aa982e4">
			<http:request method="POST" doc:name="WhatApp Notification" doc:id="f9b046c5-b9f3-4a09-bab7-6589312ab76b" config-ref="HTTP_Request_WhatsApp" path="/messages">
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
    "from": { "type": "whatsapp", "number": "14157386170" },
    "to": { "type": "whatsapp", "number": trim(vars.sqlPayload.number)  },
    "message": {
      "content": {
        "type": "text",
        "text": "Welcome *" ++ vars.sqlPayload.name ++"*, \n Your Mobile Number *" ++ vars.sqlPayload.number ++"* and  email *" ++ vars.sqlPayload.email ++ "* has been registered with QWASI. \n  Please click https://537d50492642.ngrok.io/examples/success.html to upload your documents \n Thank you..!! \n  *QWASI Team*"
      }
    }
  }]]]></http:body>
				<http:headers ><![CDATA[#[output application/json
---
{
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:request>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="dfc320ca-c089-4244-ba1b-8f2a58c43e0a">
					<logger level="INFO" doc:name="Logger" doc:id="d77abe80-9aeb-4171-ba39-9758490a1b5e" message="#[message]" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="f86e0e6c-6d9c-4301-9198-f3889399e441" message="#[payload]"/>
		
		<try doc:name="Try" doc:id="7d608d1a-d8b0-49e0-b9a1-f4d9e0206c74" >
			<db:insert doc:name="Load Client Logins" doc:id="297f6b0a-a371-4bdc-8418-2ecd2a86054d" config-ref="SQLite_DataBase">
			<db:sql><![CDATA[INSERT INTO CLIENT_LOGINS
( DISPLAY_NAME, FIRST_NAME, LAST_NAME, CLIENT_IP, CLIENT_MAC, NODE_MAC, AP_MAC, AP_IP, BASE_GRANT_URL, USER_CONTINUE_URL, "NUMBER", EMAIL, COMPANY, BROWSER, PLATFORM, USER_AGENT, LOGIN_TIME_STAMP)
VALUES(:name, :firstName, :lastName, :clinetIP, :clientMAC, :nodeMAC, :apMAC, :apIP, :baseGrantURL, :userContURL, :number, :email, :company,:browser, :platform, :userAgent, CURRENT_TIMESTAMP);]]></db:sql>
			<db:parameter-types>
				<db:parameter-type key="name" type="VARCHAR" />
				<db:parameter-type key="firstName" type="VARCHAR" />
				<db:parameter-type key="lastName" type="VARCHAR" />
				<db:parameter-type key="clinetIP" type="VARCHAR" />
				<db:parameter-type key="clientMAC" type="VARCHAR" />
				<db:parameter-type key="nodeMAC" type="VARCHAR" />
				<db:parameter-type key="apMAC" type="VARCHAR" />
				<db:parameter-type key="apIP" type="VARCHAR" />
				<db:parameter-type key="baseGrantURL" type="VARCHAR" />
				<db:parameter-type key="userContURL" type="VARCHAR" />
				<db:parameter-type key="email" type="VARCHAR" />
				<db:parameter-type key="company" type="VARCHAR" />
				<db:parameter-type key="browser" type="VARCHAR" />
				<db:parameter-type key="platform" type="VARCHAR" />
				<db:parameter-type key="userAgent" type="VARCHAR" />
				<db:parameter-type key="number" type="VARCHAR" />
			</db:parameter-types>
				<db:input-parameters ><![CDATA[#[vars.sqlPayload]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b4ffbba7-f544-4417-a258-ba3285545f6c" >
					<logger level="INFO" doc:name="Logger" doc:id="6c7100d2-7899-4eb1-b0ff-76b6f193a655" message="#[payload]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="1fa6630f-ae2b-40a8-bb98-a44795480ff7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>

<flow name="tirapa-eidiko-verifyOTP" doc:id="08d97f81-834b-4759-8aca-e53fad0c1849" >
		<http:listener doc:name="Meraki Validator" doc:id="72ce60fa-c56b-4e27-a7db-a3d0df7a0702" config-ref="HTTP_Listener_config" path="/verifyOTP"/>
		<logger level="INFO" doc:name="Echo Input Data" doc:id="f8d14b12-83fd-47a8-a32d-4b20c9250db3" message="#[attributes]"/>
		<logger level="INFO" doc:name="Logger GG" doc:id="e3f5ce8e-f869-4c23-9a34-94dd641c86f9" message="#[attributes]"/>
		
		<try doc:name="Try" doc:id="c84b179c-2323-4fec-a36a-782e9b624305" >
			<http:request method="GET" doc:name="Verify OTP Message" doc:id="3d71f486-9ee1-47b1-b2b6-52f9b0ae8f89" config-ref="HTTP_Request_configuration1" path="/check/json?api_key=34c109d8&amp;api_secret=DVsK5neDxFp7BcES">
				<http:query-params ><![CDATA[#[output application/java
---
{
	code : message.attributes.queryParams.code,
	request_id : message.attributes.queryParams.request_id
}]]]></http:query-params>
		
</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7df90a68-d0a6-4823-bc2e-947c71ead3bc" >
					<logger level="INFO" doc:name="Logger" doc:id="a45f5349-0ddc-4a36-a934-6b6fcf32f075" message="#[message]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="45dc9d01-f01a-4a05-8491-5f75171204b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>

<flow name="tirapa-eidiko-testCSOR" doc:id="f225115d-cf9d-418c-b777-3b051ad3a0cf" >
		<http:listener doc:name="Meraki CSOR" doc:id="163d6da5-8a5d-418b-a6ae-9c9e886a98f2" config-ref="HTTP_Listener_config" path="/testCSOR">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Echo Input Data" doc:id="094bdc6f-4ba3-486f-9ed0-81e1a15d465b" message="#['TESTING']"/>
		
		
		<ee:transform doc:name="Transform Message" doc:id="6deefce4-588c-465d-ac57-f0a4984d1057" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	'Test':'test'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>

	<flow name="tirapa-eidiko-getClientDetails" doc:id="1ffb7a5c-9c82-4c53-830c-a4307baa4189" >
		<http:listener doc:name="Meraki Get Client" doc:id="8b344a26-8be1-4950-8855-4bbf46e99319" config-ref="HTTP_Listener_config" path="/getClient/*"/>
		<logger level="INFO" doc:name="Echo Input Data" doc:id="95838715-c197-4c6d-9886-dbca87713e52" message="#[attributes.maskedRequestPath replace  '/' with('')]" />
		<db:select doc:name="Select" doc:id="89411ce8-a642-41ca-9f63-22157361db42" config-ref="SQLite_DataBase">
			<db:sql ><![CDATA[SELECT * FROM CLIENT_DETAILS WHERE MACID  like :macID ]]></db:sql>
			<db:parameter-types >
				<db:parameter-type key="macID" type="NVARCHAR" />
			</db:parameter-types>
			<db:input-parameters ><![CDATA[#['macID': attributes.maskedRequestPath replace  '/' with('')]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[%dw 2.0
output application/json
---
payload[0]]" doc:name="Set Validator Response" doc:id="f3f2f01f-39c9-4d16-acee-c6eb24514aad" />
	
	<set-variable value="#[payload]" doc:name="Set Variable" doc:id="9aa8c9f7-2a89-4d82-9f94-2dae0477b228" variableName="payloadOver"/>
		<try doc:name="Try" doc:id="03b6e77d-9358-475d-8512-324b70f4c0f9" >
			<http:request method="POST" doc:name="Post WebEx Validata Message" doc:id="51db7103-d531-48db-8d2f-6ff0da8470ed" config-ref="HTTP_Reques_WebEx" path="/messages">
			<http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"roomId": "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw",
	"markdown": "**The below are the Details of the requested user \n <br /> First Name: Tirapa Reddy \n <br /> LastName : Tondapu \n <br /> Email : tirapareddy.tondapu@eidiko.com**" 
}]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer ZWZhYTEzZTItNzgzZS00ZmQ4LWExYWEtMjgwN2M5NjgwN2Q5NDNjZTFkZTItMzQ5_PF84_consumer",
	"Content-Type" : "application/json"
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"roomId" : "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw"
}]]]></http:query-params>
		
</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5836ecdb-bbde-405d-b886-03d0a9479cc5" >
					<logger level="INFO" doc:name="Logger" doc:id="447f2a95-93d9-4bbd-a24e-7ba015282319" message="#[message]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<set-payload value="#[%dw 2.0
output application/json
---
vars.payloadOver]" doc:name="Set Payload" doc:id="61e7dd93-b754-48b6-8e20-e1a2ebb78664" />

</flow>

<flow name="tirapa-eidiko-network" doc:id="f349fbc6-e4be-404d-a329-af99af9520a5" >
		<http:listener doc:name="Meraki Get Network Details" doc:id="69107e56-608c-4cea-8ba9-2f4ebc2593ea" config-ref="HTTP_Listener_config" path="/network"/>
		<logger level="INFO" doc:name="Echo Input Data" doc:id="f6ff9a88-4741-440b-9135-284d059ae7de" message="#[payload]" />
		<db:select doc:name="Query Observations" doc:id="845d4513-973b-4eaa-9792-6f27aa11abac" config-ref="SQLite_DataBase">
			<db:sql ><![CDATA[SELECT COUNT(clientMac ) AS TOTAL_PERSONS,  COUNT( DISTINCT clientMac ) AS TOTAL_DISTINCT_PERSONS FROM OBSERVATIONS ]]></db:sql>
			<db:parameter-types >
			</db:parameter-types>
			<db:input-parameters ><![CDATA[#[{'input':'123'}]]]></db:input-parameters>
		
</db:select>
		<logger level="INFO" doc:name="Echo Queried Observations" doc:id="ecc5d6ca-9512-4637-9004-8443b414b554" message="#[payload]"/>
		<set-variable value="#[payload[0].TOTAL_PERSONS]" doc:name="Set Variable" doc:id="b81922b7-bbf1-49f8-a5a5-55f880f259c3" variableName="tatalPersons"/>
		<set-variable value="#[payload[0].TOTAL_DISTINCT_PERSONS]" doc:name="Set Variable" doc:id="802a14e0-3af4-4a50-97cb-c07f180fd0b7" variableName="distinctPersons"/>
		<try doc:name="Try" doc:id="78a14e95-0fff-4b92-bbd0-feda7163736d" >
			<http:request method="POST" doc:name="Post WebEx Message" doc:id="8bdfb40c-ae7d-4bd9-b18f-d6e0fd6f63a0" config-ref="HTTP_Reques_WebEx" path="/messages">
			<http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"roomId": "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw",
	"markdown": "**The below are the details for requested netword** \n <br /> Network Name : DSO \n <br /> Network ID : L_00000000000000001 \n <br /> Total Persons in DSO : " ++ payload[0].TOTAL_PERSONS
}]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer OTIzNGYzOGItY2NkZS00YmZlLThkZmUtMjI0NDMwMGFkMmFjMDczYzIyNzItM2E3_PF84_consumer",
	"Content-Type" : "application/json"
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"roomId" : "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw"
}]]]></http:query-params>
		
</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f9ec3c06-4841-4dcf-bf5e-782919934b70" >
					<logger level="INFO" doc:name="Logger" doc:id="de3d5dc0-7d9c-4289-91d1-12712d7368c3" message="#[message]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<set-payload value='#[%dw 2.0
output application/json
---
{
	"Total Person in Network": vars.tatalPersons,
	"Distinct Persons":vars.distinctPersons
	
}]' doc:name="Set Response" doc:id="fce8c813-e446-44a2-ae08-c5451e7b6c0e" />
	


</flow>
	
	<flow name="tirapa-eidiko-receive" doc:id="48fe0af8-9339-4990-a97c-b5024d523370" >
		<http:listener doc:name="Listener" doc:id="b07e1b81-9c9e-4e09-af11-c1fcdac24c5e" config-ref="HTTP_Listener_config" path="/receive"/>
		<logger level="INFO" doc:name="Logger" doc:id="7ac98487-2214-4517-8aa6-ebb648053203" message="#[payload]"/>
		<set-variable value="#[payload.data.networkId]" doc:name="Set NetworkId" doc:id="9d49c2d3-c67c-4c4d-ac79-f8c800865307" variableName="networkId"/>
		<set-variable value="#[payload.version]" doc:name="Set Version" doc:id="7f1f93b2-1e8d-44dc-82fe-b1b9d8bf8fd4" variableName="version"/>
		<set-variable value="#[payload.typ]" doc:name="Set Type" doc:id="574d320c-5011-449f-a7b7-089dc39f007f" variableName="deviceType"/>
		<foreach doc:name="For Each" doc:id="0db5afd6-0823-4b82-a0ec-f94d7ed43ff7" collection="#[payload.data.observations]">
			<set-variable value="#[payload.clientMac]" doc:name="Set Variable" doc:id="7bb7a7a2-a8de-4acc-8cf7-75c4d92df67b" variableName="clientMac" />
			<set-variable value="#[payload]" doc:name="Set Payload as Veriable" doc:id="79fd40ee-147a-41f5-baf6-5dde1526553d" variableName="valPayload"/>
			<set-payload value='#[%dw 2.0
output application/json
---
{
                "locations": payload.locations,
                "ipv4": payload.ipv4,
                "ssid": payload.ssid,
                "os": payload.os,
                "clientMac": payload.clientMac,
                "latestRecord": payload.latestRecord,
                "ipv6": payload.ipv6,
                "manufacturer": payload.manufacturer,
                "NETWORK_ID":vars.networkId,
                "Version":vars.version,
                "TYPE":vars.deviceType        
       }]' doc:name="Insert Data" doc:id="c87d4db3-438d-41a6-ae7f-73e2646c6d06" />
			<try doc:name="Try" doc:id="dae6f1d7-0994-4684-af61-a6c653287395" >
				<db:insert doc:name="Load Observations" doc:id="36083baf-86ac-40fc-b6f6-09c1c151fbc0" config-ref="SQLite_DataBase">
			<db:sql><![CDATA[INSERT INTO OBSERVATIONS(locations, ipv4, ssid, os, clientMac, latestRecord, ipv6, manufacturer, NETWORK_ID, Version, "TYPE") VALUES(:locations, :ipv4, :ssid, :os, :clientMac, :latestRecord, :ipv6, :manufacturer, :NETWORK_ID, :Version, :TYPE);]]></db:sql>
			<db:parameter-types>
				<db:parameter-type key="locations" type="VARCHAR" />
				<db:parameter-type key="ipv4" type="VARCHAR" />
				<db:parameter-type key="ssid" type="VARCHAR" />
				<db:parameter-type key="os" type="VARCHAR" />
				<db:parameter-type key="clientMac" type="VARCHAR" />
				<db:parameter-type key="latestRecord" type="VARCHAR" />
				<db:parameter-type key="ipv6" type="VARCHAR" />
				<db:parameter-type key="manufacturer" type="VARCHAR" />
				<db:parameter-type key="NETWORK_ID" type="VARCHAR" />
				<db:parameter-type key="Version" type="VARCHAR" />
				<db:parameter-type key="TYPE" type="VARCHAR" />
			</db:parameter-types>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<http:request method="POST" doc:name="Request" doc:id="f06fe7bc-2e33-4735-9f6c-85310423a573" config-ref="HTTP_Reques_WebEx" path="/messages">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	"roomId": "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw",
	"markdown": "**A new [Person or Client](https://4376abeec066.ngrok.io/base/getClient/cc:cc:cc:ac:78:b0) Entered DSO Network with a MAC ID :: **"++ vars.clientMac++'Click [Network Details](https://4376abeec066.ngrok.io/base/network) for complete network details'
}]]]></http:body>
					<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer OTIzNGYzOGItY2NkZS00YmZlLThkZmUtMjI0NDMwMGFkMmFjMDczYzIyNzItM2E3_PF84_consumer",
	"Content-Type" : "application/json"
}]]]></http:headers>
					<http:query-params ><![CDATA[#[output application/java
---
{
	"roomId" : "Y2lzY29zcGFyazovL3VzL1JPT00vYmMyYmE4NGYtZDJkNS0zMWIzLTk3ODgtZTQ1MmZjNzQ2ZTQw"
}]]]></http:query-params>
		
</http:request>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d215423b-7b71-4f19-b8c5-b72b10a2a329" >
						<logger level="INFO" doc:name="Logger" doc:id="a643f9f6-2afe-4a42-8702-50c6361fab87" message="#[payload]"/>
					</on-error-continue>
				</error-handler>
			</try>
			<try doc:name="Try" doc:id="62713b6e-3060-435d-b78a-858b98b0846d">
				<foreach doc:name="For Each" doc:id="c2c1d7ce-83e4-48c6-a02b-726727570207" collection="#[vars.valPayload.locations]">
				<set-payload value='#[%dw 2.0
output application/json
---
{
	"clientMac":payload.clientMac,
	"X":payload.x,
	"Y":payload.y,
	"LNG":payload.lng,
	"LAT":payload.lat,
	"FloorPlanName":payload.floorPlanName,
	"FloorPlanId":payload.floorPlanId,
	"rssiRecords":payload.rssiRecords,
	"Time":payload.Time,
	"variance":payload.variance,
	"nearestApTags":payload.nearestApTags,
	}]' doc:name="Insert Location Data" doc:id="d0cde429-01bb-47a8-b8c4-6b809046553d" />
				<db:insert doc:name="Load Locations" doc:id="8ab6c41d-4293-4033-82b1-df5083bd7113" config-ref="SQLite_DataBase">
			<db:sql><![CDATA[INSERT INTO LOCATIONS(clientMac, X, Y, LNG, LAT, FloorPlanName, FloorPlanId, rssiRecords, Time, variance, nearestApTags) VALUES(:clientMac, :X, :Y, :LNG, :LAT, :FloorPlanName, :FloorPlanId, :rssiRecords, :Time, :variance, :nearestApTags);]]></db:sql>
			<db:parameter-types>
				<db:parameter-type key="clientMac" type="VARCHAR" />
				<db:parameter-type key="X" type="VARCHAR" />
				<db:parameter-type key="Y" type="VARCHAR" />
				<db:parameter-type key="LNG" type="VARCHAR" />
				<db:parameter-type key="LAT" type="VARCHAR" />
				<db:parameter-type key="FloorPlanName" type="VARCHAR" />
				<db:parameter-type key="FloorPlanId" type="VARCHAR" />
				<db:parameter-type key="rssiRecords" type="VARCHAR" />
				<db:parameter-type key="Time" type="VARCHAR" />
				<db:parameter-type key="variance" type="VARCHAR" />
				<db:parameter-type key="nearestApTags" type="VARCHAR" />
			</db:parameter-types>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
			</foreach>
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="16bc3148-3b6a-45f5-b0f1-31b78b372908" >
						<logger level="INFO" doc:name="Logger" doc:id="8c274371-091e-4267-948f-95037a6a6e1a" message="#[payload]"/>
					</on-error-continue>
				</error-handler>
			</try>
		</foreach>
		
	
</flow>
</mule>
